.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header a {
    color: black;
    transition: .1s;
}

.header__content {
    margin: 0 20px;
    position: relative;
}

.header__bars {
    border: none;
    position: absolute;
    right: 20px;
}

.header__bars button {
    background-color: transparent !important;
    color: var(--color-red);
    font-size: 24px;
    border: none;
}

.header-logo a {
    font-family: 'Yellowtail', cursive;
}

.header-logo img {
    width: 30%;
    position: absolute;
    left: -40px;
    top: 55%;
    transform: translateY(-50%) rotate(10deg);
}

.header-logo span {
    color: var(--color-red);
}

.header-navigation a:hover {
    background-color: var(--color-gray);
}

.header-navigation__active {
    color: white !important;
    background-color: var(--color-red) !important;
}

.header-navigation__buttons {
    text-align: right;
    padding: 10px;
}

.header-navigation__buttons i{
    font-size: 20px;
}

.header-navigation__mobile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.header-navigation a,
.header-navigation__mobile a {
    display: inline-block;
    padding: 10px 15px;
    color: var(--color-red);
}

.header-navigation i,
.header-navigation__mobile i{
    padding-right: 7px;
}