.auth-form {
    background-color: #fff;
    flex-direction: column;
    min-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
}

.auth-form h1{
    text-align: center;
    font-size: 28px;
    color: var(--color-red);
    margin-bottom: 20px;
    margin-top: 10px;
}

.auth-form__buttons{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 5px;
    display: flex;

}

.auth-form__buttons button{
    margin-right: 10px;
}

.auth-form__error{
    text-align: center;
    margin-top: 10px;
}