.background {
    z-index: -1;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .7;
    height: 100%;
    filter: blur(1px);
}